.rightContainer {
  position: absolute;
  top: 540px;
  right: 0px;

  height: 460px;
  width: 640px;
}

.leftContainer {
  position: absolute;
  top: 540px;
  left: 0px;

  height: 460px;
  width: 640px;
}

.leftContainer div {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.leftContainer img {
  display: inline-block;
  max-width: 80%;
  vertical-align: middle;
}

.playersContainer {
  position: absolute;
  left: 640px;
  bottom: 80px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 50px;
  width: 640px;
}

/* layout spesific stylings */
#gameTitle {
  margin-top: 70px;
  font-size: 40px;
}

.tags {
  margin-bottom: 40px;
}

.tags div {
  font-size: 20px;
}

#timer {
  font-size: 100px;
}

.playerContainer {
  font-size: 20px;
}

.twitchLogo::before {
  background-size: 16px;
  width: 16px;
  height: 16px;
  margin: 0 10px 0 4px;
}

.twitchLogo {
  margin-right: 22px;
}

.emptylogo {
  margin: 0 26px;
}
