.leftContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;

  width: 580px;
  height: 579px;
  top: 381px;
  left: 0px;
}

.hostContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerContainer {
  padding: 0px 10px 0px 10px;
  width: 477px;
  font-size: 32px;
  margin: 20px;
}

#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameTitle {
  font-size: 40px;
  line-height: 1.2em;
}

#timer {
  font-size: 70px;
}

#sponsor {
  max-width: 80%;
  align-self: center;
}

.twitchLogo::before {
  margin: 4px 10px 2px 0;
  background-size: 24px;
  width: 24px;
  height: 24px;
}
