html,
body {
  position: absolute;
  width: 1920px;
  height: 1080px;
  color: white;

  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);

  margin: 0;
  padding: 0;

  font-family: "Roboto Condensed";
  text-transform: uppercase;
  text-align: center;
}

.timer_finished {
  color: #6ec3e8;
}

.timer_stopped {
  color: #90a9b3;
}

.place_1 {
  color: gold;
}

.place_2 {
  color: #6ec3e8;
}

.hide {
  opacity: 0 !important;
}

#textCarousel {
  opacity: 1;
  transition: opacity 0.5s;
}

.playerContainer div,
#player {
  opacity: 1;
  transition: opacity 0.5s;
}

.emptyLogo {
  display: inline-flex;
  width: 24px;
  content: "";
}

.twitchLogo::before {
  background-image: url(../img/Twitch_Logo.png);
  display: inline-flex;
  content: "";
}

.ptSansNarrow {
  font-family: "Pt Sans Narrow";
  font-weight: bold;
  letter-spacing: 0.5px;
}

#commentatorContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.blue-bg {
  padding: 5px 10px;
  background-color: #23926c;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 500;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.bgImg {
  display: block;
  position: absolute;
}

#gameTitle {
  font-family: "Fugaz One";
  text-transform: uppercase;
  text-align: center;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.7);
}

#timer {
  font-family: "PT Sans Narrow";
  font-weight: 700;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.7);
}

.playerContainer {
  background-color: #23926c;
  border-radius: 8px;
  font-weight: 700;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  padding: 6px 10px;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.tags div {
  padding: 5px 10px;
  background-color: #23926c;
  border-radius: 8px;
  font-weight: 500;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
