.leftBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
  margin: 0;
}

#gameTitle {
  font-size: 30px;
}

.gameTagContainer {
  font-size: 20px;
}

.timerContainer {
  font-size: 60px;
}
